.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.custom-form,
.show-user-data {
  width: 70%;
}

.show-user-data {
  margin: 30px 0;
  text-align: center;
}
